<h3>Tablas dinámicas con JQuery I</h3>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <table id="table_id" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Field</th>
                <th>Value</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">01</td>
                <td>Short Name</td>
                <td> <input type="text" id="fname" name="fname"></td>
               
            </tr>
            <tr>
                <td class="text-center">02</td>
                <td>Description</td>
                <td> <input type="text" id="fname" name="fname"></td>
                
            </tr>
            <tr>
                <td class="text-center">03</td>
                <td>Proposed Years</td>
                <td> <input type="text" id="fname" name="fname"></td>
                
            </tr>
            <tr>
                <td class="text-center">04</td>
                <td>Ledger</td>
                <td> <input type="radio" id="male" name="gender" value="male">Yes  <input type="radio" id="male" name="gender" value="male">No <button type="button">View List of ledgers</button></td>
               
            </tr>
            <tr>
                <td class="text-center">05</td>
                <td>Account</td>
                <td>  <input type="radio" id="male" name="gender" value="male">Yes  <input type="radio" id="male" name="gender" value="male">No <button type="button">View List of accounts</button></td>
                
            </tr>
            
        </tbody>
        <tfood>
            <tr>
                <th colspan="3"><center><button type="button">Submit</button></center></th>
          
            </tr>
        </tfood>
    </table>
  </div>
</div>
<hr>
