<html>
<head>
<link rel="stylesheet" href="worksheet.css">
<title>Budget Worksheet</title>
Budget Worksheet</head>
<body>
<style>
td {
    border: solid 2px lightgrey;
}
</style>
<table style="border: 5px solid #990000; border-collapse: collapse">
<tr>
<th>INCOME</th> 1
<th>Projected</th>
<th>Actual</th>
<th>Difference</th>
</tr>
<tr>
<td>Wages and Tips</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Interest Income</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Funds Received</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Refunds</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Others</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<th>Total income</th>
<td></td>
<td></td>
<td></td>
</tr>
</table>


<table>
<tr>
<th>HOME EXPENSES</th> 1
<th>Projected</th>
<th>Actual</th>
<th>Difference</th>
</tr>
<tr>
<td>Rent</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Home Insurance</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Electricity</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Gas/Oil</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Phone</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Cable</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Others</td>
<td><input type="text" size="30"/></td>
<td></td>
<td></td>
</tr>
<tr>
<th>Total Home Expenses</th>
<td></td>
<td></td>
<td></td>
</tr>
</table>